<div class="about-me-container">
    <div class="left-column">
      <span class="marker"></span>
      <h2 class="title">ABOUT ME</h2>
    </div>
    <div class="right-column">
      <p class="intro-text">I collaborate with global clients to Cultivate Compelling and Immersive Digital Experiences Through The Realms of Design and Development</p>
      <div class="stats-container">
        <div class="stat">
          <h1>20+</h1>
          <div class="line"></div>
          <p>Completed Projects</p>
        </div>
        <div class="stat">
          <h1>8+</h1>
          <div class="line"></div>
          <p>Years of Experience</p>
        </div>
        <button class="more-about-me-button">More about me</button>
      </div>
    </div>
  </div>