@use '../../../variables' as *;

.about-me-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две равные колонки */
  padding: 2rem; /* Общие отступы по вкусу */
  gap: 2rem; /* Расстояние между колонками */
  align-items: start; /* Выравнивание элементов по верхнему краю */
}

.left-column {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}

.right-column {
  display: flex;
  flex-direction: column;
}

.intro-text {
  margin-bottom: 2rem; /* Отступ после основного текста */
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две подколонки */
  gap: 2rem; /* Расстояние между подколонками */
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stat h1 {
  margin: 0;
}

.line {
  width: 15rem;
  height: 2px;
  background-color: $primary-font-color; /* Белая черта */
  margin: 0.5rem 0;
}

.stat p {
  color: $primary-font-color; /* Используем переменную для цвета текста */
}



/* Адаптивность (пример для небольших экранов) */
@media (max-width: 768px) {
  .about-me-container {
    grid-template-columns: 1fr; /* На маленьких экранах делаем одну колонку */
  }

  .left-column {
    margin-bottom: 1rem; /* Добавляем отступ между блоками на маленьких экранах */
  }

  .line {
    width: 12rem;
  }
}