<div class="about-me-container">
    <div class="left-column">
      <span class="marker"></span>
      <h2 class="title small-heading">ABOUT ME</h2>
    </div>
    <div class="right-column">
      <p class="intro-text extra-large">I'm a frontend developer passionate about crafting engaging and performant web applications for global clients, specializing in Angular and Vanilla JavaScript.</p>
      <div class="stats-container">
        <div class="stat">
          <p class="stat-number">20+</p>
          <div class="line"></div>
          <p class="small">Completed Projects</p>
        </div>
        <div class="stat">
          <p class="stat-number">8+</p>
          <div class="line"></div>
          <p class="small">Years of Experience</p>
        </div>
        <app-button (buttonClick)="openLink()" [text]="buttonText"></app-button>
      </div>
    </div>
  </div>
  <app-divider></app-divider>