<footer class="footer">
    <div class="left-section">
      <span class="logo">KATE KONDRATENKO</span>
    </div>
    <div class="center-section">
      <ul>
        <li *ngFor="let link of navigationLinks" class="link">
          <a [href]="link.url">{{ link.label }}</a>
        </li>
    </ul>
    </div>
    <div class="right-section">
      <div *ngFor="let link of socialLinks" class="social-icon">
        <a [href]="link.url" target="_blank" rel="noopener noreferrer">
            <img [src]="'assets/icons/' + link.icon" [alt]="link.name">
        </a>
    </div>
    </div>
  </footer>