<div class="modal-overlay">
    <div class="modal-content">
      <button class="close-button" (click)="closeModal()">×</button>
      <h4>Send Message</h4>
      <form action="formspreeEndpoint" method="POST">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="John Doe" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="example@email.com" required>
        </div>
        <div>
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="5" placeholder="Type your message" required></textarea>
        </div>
    
        <button class="contact-button" type="submit">Send Message</button>
    </form>
    </div>
  </div>
