<div class="services-intro">
    <span class="marker"></span>
    <h2 class="small-heading">services</h2>
    <br>
    <h2>WHAT I DO</h2>
    <hr class="divider">
</div>
  <div class="services-container">
    <div *ngFor="let block of servicesBlocks; let last = last" class="service-block"> 
      <div class="block-title">
        <h4>{{ block.title }}</h4>
      </div>
      <div class="services-list"> 
        <p *ngFor="let service of block.services" class="small">{{ service }}</p>
      </div>
      <hr *ngIf="!last" class="services-divider">
    </div>
  </div>
  
  <app-divider></app-divider>