@use '../../../variables' as *; // Или путь к вашим глобальным стилям, где определены переменные

.services-intro {
    margin-bottom: 30px; /* Добавим отступ до блоков услуг */
    padding: 0 2rem;
  
    h1 {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    h2 {     
      display: inline-block;
    }
  
    .divider {
      border: none;
      border-top: 1px solid $secondary-color;
      margin: 20px auto; /* Центрируем и добавляем отступы */
    }
  }

.services-container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.service-row {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  padding: 15px 0;
}

.block-title {
  text-transform: uppercase;
  color: $primary-font-color;
  padding-right: 20px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Разделение на две подколонки */
  gap: 10px;
  color: $primary-font-color;
  align-items: center;
}

.services-divider {
  border: none;
  border-top: 1px solid $secondary-color;
  margin: 15px 0;
  grid-column: 1 / -1;
}

.last-row-margin {
  margin-bottom: 30px; /* Задайте желаемый отступ после последнего блока */
}