@use '../../../variables' as *; // Или путь к вашим глобальным стилям, где определены переменные

.services-intro {
    margin-bottom: 30px; /* Добавим отступ до блоков услуг */
    padding: 0 2rem;
  
    h1 {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    h2 {     
      display: inline-block;
    }
  
    .divider {
      border: none;
      border-top: 1px solid $secondary-color;
      margin: 20px auto; /* Центрируем и добавляем отступы */
    }
  }

.block-title {
  text-transform: uppercase;
  color: $primary-font-color;
  padding-right: 20px;
}

.services-divider {
  border: none;
  border-top: 1px solid $secondary-color;
  margin: 15px 0;
  grid-column: 1 / -1;
}

.services-container {
  display: flex; 
  flex-direction: column;
  gap: 3rem; 
  padding: 2rem; 
  box-sizing: border-box;
}

.service-block { 
  display: grid; 
  grid-template-columns: 1fr 2fr; 
  gap: 2rem; 
  align-items: start; 
}

.services-list { 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem 2rem; 
  p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .services-container {
    gap: 2rem; 
    padding: 1rem; 
  }

  .service-block {
    display: flex; 
    flex-direction: column; 
    gap: 1rem; 
  }

  .block-title {
    width: 100%;
    margin-bottom: 0.5rem; 
  }

  .services-list {
    display: block; 
    gap: 0.5rem; 
    grid-template-columns: none;
    gap: 0.5rem; 

    p {
      margin-bottom: 0.5rem;
    }
  }

  .services-divider {
    grid-column: span 1; 
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    width: 100%;
  }
}