@use '../../../variables' as *;

.about-me-container {
  width: 100%;
  padding-top: 2rem; /* Оставь верхний отступ, если нужен */
  padding-bottom: 2rem; /* Оставь нижний отступ, если нужен */
  box-sizing: border-box;
  color: $primary-font-color;
}

h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height; /* Можешь настроить размер шрифта */
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  margin-bottom: 1rem;
  text-align: left; /* Выравниваем текст по левому краю */
  padding-left: 3%; /* Отступ слева, чтобы совпадал с полосой и текстом */
  padding-right: 3%; /* Отступ справа для симметрии */
  box-sizing: border-box;
}

.text-blocks {
  display: flex;
  justify-content: space-between;
  padding-left: 3%; /* Отступ слева */
  padding-right: 3%; /* Отступ справа */
  padding-top: 1rem; /* Добавь отступ сверху от полосы */
  box-sizing: border-box;
}

.text-block-base {
    font-weight: $font-weight-medium;
    margin: 0;
    font-size: $p-font-size-medium;
    line-height: $p-line-height-medium;
  }
  
  .left-text {
    @extend .text-block-base;
    text-align: left;
  }
  
  .right-text {
    @extend .text-block-base;
    text-align: right;
  }