// colors
$primary-background-color: #0a0a0c;
$primary-font-color: #ffffff;
$secondary-font-color: #ababab;
$secondary-color: #3d3d3d;


// fonts
$font-family-inter: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

$base-font-size: 16px;
