// colors
$primary-background-color: #0a0a0c;
$primary-font-color: #ffffff;


// fonts
$font-family-inter: 'Inter', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;